*{
    margin: 0;
    padding: 0;
    font-size: small;
}

.first-week{
    position: relative;
}
.week{
    margin: 0;
    display: flex;
    justify-content: center
}
.card{
    max-width: 300px;
    padding: 0;
    margin: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 280px;
    
}
.card-header{
    margin: 0;
    text-align: center;
}
.card-body{
    padding: 0;
    background-color: #dfe6e9;
    overflow: hidden;
}
.main-list{
    min-height: 100px;
    /* border-bottom: 1px solid black; */
}
.time{
    text-align: center;
    /* border-right: 1px solid black; */
    min-height: 100px;
    min-width: 65px;
    
}
.subject{
    padding: 0px 0px 0px 10px;
}
ul li{
    list-style-type: none; 
}
.main-list:nth-child(2n+2){
    background-color: #b2bec3;
}
/* .card-body li{

    border-style: solid;
    border-color: black;
    border: 0 0 4 0px;
} */
/* 
@media (max-width: 1180px) {
    body{
        background-color: lawngreen;
    }
    .card{
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 250px;
    }
   
} */